body {
    background-color: olivedrab;
    font-size: 22px;
}


a {
    color: #006400;
    text-decoration: none;
}

.content {
    font-family: cursive;
}

.title:hover {
     color: limegreen;
    
}
.title {
    font-family: cursive;
}

.green {
background-color: #006400;
}

.input:hover {
    color: rgb(205, 195, 50);
}